In [2]:
# Import libraries
import datetime as dt
from datetime import datetime as dtm
import requests as rq
import pandas as pd
import gzip
import shutil
import os

def get_historic_data(date, years=1, with_time=False):
    
    if date<'2020-10-01':
        return(print('Too early! First historic date available is 2019-10-01'))

    dtm_end=dtm.strptime(date,'%Y-%m-%d')
    dtm_start=dtm_end.replace(year=dtm_end.year-years)
    
    #Создаю список дат за последний год
    cal=pd.date_range(start=dtm_start,end=dtm_end)
    
    t1=dt.datetime.now().timestamp()
    for i in cal:
        doc='BTCUSD'+str(i)[0:10]+'_index_price.csv.gz'
        a=rq.get('https://public.bybit.com/spot_index/BTCUSD/'+doc, allow_redirects=True)
        #download the data
        open(doc, 'wb').write(a.content)
        #unzip them
        with gzip.open(doc, 'rb') as f_in:
            with open(doc[:-3], 'wb') as f_out:
                shutil.copyfileobj(f_in, f_out)
        #making DataFrame
        try:
            df_next=pd.read_csv(doc[:-3]) #if we already created df
            union=pd.concat([df,df_next])
            df=union
        except NameError: #if df wasn't mentioned
            df=pd.read_csv(doc[:-3])
        #remove unnecessary files:
        os.remove(doc)
        os.remove(doc[0:-3])
        
    t2=dt.datetime.now().timestamp()
    #print('Processing time:', t2 - t1) #200+ секунд (зависит от интернета)
    
    df['datetime']=pd.to_datetime(df["start_at"], unit="s")
    df.drop_duplicates(inplace=True)
    df.reset_index(inplace=True, drop=True)
    
    if with_time:
        print('Processing time:', t2 - t1)
    return(df)

In [3]:
new_df=get_historic_data('2023-01-26',years=3, with_time=True)

Processing time: 684.0647709369659

In [5]:
new_df.drop(columns=['symbol','period'],inplace=True)

In [6]:
new_df

,start_at,open,high,low,close,datetime
0,1579996800,8327.13,8327.13,8306.03,8308.18,2020-01-26 00:00:00
1,1579996860,8308.18,8315.25,8307.41,8312.15,2020-01-26 00:01:00
2,1579996920,8312.15,8312.15,8306.92,8311.46,2020-01-26 00:02:00
3,1579996980,8311.46,8315.93,8310.68,8313.03,2020-01-26 00:03:00
4,1579997040,8313.03,8317.91,8313.03,8313.27,2020-01-26 00:04:00
...,...,...,...,...,...,...
1578256,1674777300,23017.28,23019.35,23012.42,23013.41,2023-01-26 23:55:00
1578257,1674777360,23013.41,23025.06,23011.89,23022.94,2023-01-26 23:56:00
1578258,1674777420,23022.94,23026.91,23020.75,23024.07,2023-01-26 23:57:00
1578259,1674777480,23024.07,23026.04,23014.73,23017.50,2023-01-26 23:58:00
1578260,1674777540,23017.50,23022.26,23006.55,23010.34,2023-01-26 23:59:00

In [18]:
new_df['date_hour']=new_df.datetime.astype('datetime64[h]')

In [21]:
fin_df=new_df.groupby('date_hour').agg({'open':'max','high':'max','low':'max','close':'max'})

In [23]:
fin_df.to_csv('Bybit_BTC.csv')